.typesAlgorithm {
  height: 60vh;
}
.typesAlgorithm-btn {
  background-color: var(--gray);
  border: 1px solid var(--gray);
  color: #ffffff;
  margin-bottom: 0.8em;
}
.select {
  background-color: var(--green-primary);
  border: 1px solid var(--green-primary);
}
